body {
    font-family: 'Kanit', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}

hr {
    opacity: 50%;
}

#top-menu {
    height: 3rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid #dfdfdf;
    background-color: white;
    padding: 10px;
}

#top-menu-text {
    font-size: 2rem;
    text-decoration: inherit;
    color: black;
}

#top-menu-text:hover > span {
    transition: color 500ms;
    color: #0084d1;
}

#content-wrapper {
    display: flex;
    justify-content: space-around;
}

#user-table-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

#export-user-btn {
    font-size: 0.8em;
}

.container {
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    background: white;
    padding: 25px;
}

.small-icon {
    width: 21px;
}

.clickable {
    cursor: pointer;
}

.btn {
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-weight: bold;
    background: #0084d1;
}

.btn:hover:not(:disabled) {
    background: #66c6ff;
}

.btn:active:not(:disabled) {
    background: #006dad;
}

.btn:disabled {
    background-color: #bfbfbf !important;
}

a.btn {
    text-decoration: inherit;
    font-size: 1.5em;
    padding: 3px;
    width: 35px;
    text-align: center;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
